SKILLUP__TELEGRAM__BOT_TOKEN=""
SKILLUP__DATABASE__NAME=""
SKILLUP__DATABASE__HOST=""
SKILLUP__DATABASE__PORT=5432
SKILLUP__DATABASE__USER=""
SKILLUP__DATABASE__PASSWORD=""
SKILLUP__DATABASE__SQLA__POOL_SIZE=20
SKILLUP__DATABASE__SQLA__MAX_OVERFLOW=5
SKILLUP__DATABASE__SQLA__ECHO=false